body {
  background-color: #efefef;
}

.board {
  background-color: white;
  width: 50%;
  height: 80vh;
  overflow: scroll;
  margin: auto;
  top: 50%;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.countryBox {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  padding: 20px;
}

p:not(.countryName) {
  color: #8d8d8d;
  margin: 5px;
  margin-left: 20px;
}

.countryName {
  font-size: 35px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

img {
  width: 80px;
  height: 80px;
  border: 1px solid #bebebe;
  border-radius: 50%;
  margin-left: 20px;
}

.countryInfo {
  margin-left: 50px;
  width: 80%;
}

button {
  background-color: white;
  border: none;
  font-size: 40px;
  color: #999;
  font-weight: 800;
  outline: none;
  height: 60px;
}

button:hover {
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
}

li:first-of-type {
  margin-top: 5px;
}

li {
  color: #8d8d8d;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid#ccc;
  width: 90%;
  margin: auto;
  display: block;
  height: 40px;
  font-size: 16px;
}

input:focus {
  border-bottom: 1px solid black;
}

.add-tag-input {
  width: 40%;
  margin-left: 40px;
}

.tag {
  display: inline;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

@media (max-width: 940px) {
  .countryBox {
    flex-direction: column;
  }

  img {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
